:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    --fw-light: 300;
    --fw-medium: 400;
    --fw-med-bold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Very-dark-blue-main-BG);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 25px;
}

.card {
    max-width: 335px;
    background-color: var(--Very-dark-blue-card-BG);
    padding: 25px 25px;
    border-radius: 16px;
}

.card > * {
    font-size: 1rem;
}

.cube {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.title {
    color: var(--White);
    font-weight: var(--fw-med-bold);
    margin: 15px 0;
    font-size: 1.25rem;
}

.title:hover {
    cursor: pointer;
    color: var(--Cyan);
}

.description {
    margin-bottom: 10px;
    line-height: 150%;
}

.soft-blue {
    color: var(--Soft-blue);
    font-weight: var(--fw-light);
}

.eth-time {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.eth {
    color: var(--Cyan);
    font-weight: var(--fw-medium);
    display: flex;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
}

hr {
    color: var(--Very-dark-blue-line);
}

.owner-about {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.owner-pic {
    width: 30px;
    border: 2px solid var(--White);
    border-radius: 50%;
}

.credit {
    align-items: center;
}

.name {
    color: var(--White);
}

.name:hover {
    cursor: pointer;
    color: var(--Cyan);
}




.attribution {
    font-size: 11px; 
    text-align: center; 
    color: var(--Soft-blue);
    align-items: flex-end;
    margin-top: 50px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}